.popularMovie{
	margin-bottom: 0px;
	padding: 10px;
}

.popularMovieText::before {
	content: "";
	position: absolute;
	width: .3125rem;
	height: 35px;
	background: var(--primary-color);
	border-radius: .625rem;
	margin-left: -10px;
}

.popularMovieText{
	margin: 0px;
}