.actorCard {
	background-color: #f0f0f0;
	overflow: hidden;
	transition: transform 0.2s;
	width: 100%;
	max-width: 200px;
	min-width: 150px;
	margin: 20px;
	flex: 1 1 20vw;
}

.actorCard:hover {
	transform: scale(1.05);
	cursor: pointer;
	color: var(--primary-color);
}

.actorCardImage {
	width: 100%;
	height: auto;
	display: block;
}

.actorCardName {
	font-size: 1.2em;
	margin: 10px;
	text-align: center;
}