.movieCard {
	position: relative;
	width: 200px;
	margin: 20px;
	overflow: hidden;
	transition: transform 0.2s;

	flex: 1 0 200px;
	margin-left: 1rem;
	scroll-snap-align: start;
}

.movieCard:hover {
	transform: scale(1.05);
	cursor: pointer;
	color: var(--primary-color);
}

.movieCardImage {
	width: 100%;
	height: auto;
	display: block;
}

.informations {
	padding: 10px;
	text-align: center;
}

.movieCardTitle {
	font-size: 1.2em;
	margin: 0px 0;
	transition: color 0.2s;
}

.movieCardVoteCount {
	font-size: 0.9em;
	margin: 5px 0;
	transition: color 0.2s;
}

.movieCardGenres {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-top: 10px;
}

.movieCardGenre {
	background-color: #e0e0e0;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 0.8em;
	color: #333;
	transition: background-color 0.2s;
}