.movieCard {
	position: relative;
	width: 200px;
	margin: 20px;
	overflow: hidden;
	transition: transform 0.2s;

	flex: 1 0 200px;
	margin-left: 1rem;
	scroll-snap-align: start;
}

.movieCard:hover {
	transform: scale(1.05);
	cursor: pointer;
	color: var(--primary-color);
}

.movieCardImage {
	width: 100%;
	height: auto;
	display: block;	
}

.informations {
	padding: 10px;
	text-align: center;
}

.movieCardTitle {
	font-size: 1.2em;
	margin: 10px 0;
	transition: color 0.2s;
}

.movieCardReleaseDate {
	font-size: 0.9em;
	margin: 10px 0;
	transition: color 0.2s;
}