.header {
	color: #000000;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	width: auto;
}

.logoImage {
	height: 60px;
	margin-right: 10px;
}

.logoText {
	font-size: 30px;
	font-weight: bold;
}

.nav {
	display: flex;
	width: 100%;
}

.navList {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.navItem {
	margin-left: 20px;
}

.navLink {
	text-decoration: none;
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	transition: border-bottom 0.08s ease-in;
}

.navLink:hover {
	border-bottom: 3px solid var(--primary-color);
}

.active {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	border-bottom: 3px solid var(--primary-color);
}